<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Event Management "
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity android:name=".activity.ProfileUser" />
        <activity
            android:name=".activity.ListApplyUser"
            android:label="List apply user" />
        <activity
            android:name=".activity.DetailPayment"
            android:label="Detail Payment" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCpffFx5sZstG6aclYoEnodK4Nj5DF14F4" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.ChoosePayment"
            android:label="Choose payment" />
        <activity
            android:name=".activity.AddCard"
            android:label="Add card" />
        <activity
            android:name=".activity.ListCard"
            android:label="List card" />
        <activity
            android:name=".activity.Payment"
            android:label="Payment" />
        <activity android:name=".activity.Comments" />
        <activity
            android:name=".activity.DetailEvent"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.QRCode"
            android:label="@string/qrcode" />
        <activity
            android:name=".activity.ScanQRCode"
            android:label="@string/scan_qrcode" />
        <activity
            android:name=".activity.VerifyCode"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.LastForgetPassword"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.ChangePassword"
            android:label="@string/change_password" />
        <activity
            android:name=".activity.settings"
            android:label="@string/setting" />
        <activity
            android:name=".activity.Chat"
            android:label="@string/chat_admin" />
        <activity
            android:name=".activity.Notification"
            android:label="Notification" />
        <activity
            android:name=".activity.EditProfile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.ForgetPassword"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.Register"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.profile" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>